input[type=file] { display: none !important; }
input {
	width: 100%;
	height: 100%;
	padding: 8px;
	line-height: inherit;
	font-family: inherit;
	font-size: inherit;
	border: none;
	outline: none;
	appearance: none;
	user-select: auto;
	box-sizing: border-box;
}

.input-box {
	position: relative;

	> .input-control {
		display: block;
		width: 100%;
		padding: .5rem 1rem;
		width: 100%;
		min-height: calc(3.5rem + calc(var(--st2lla-border-width) * 2));
		height: calc(3.5rem + calc(var(--st2lla-border-width) * 2));
		line-height: 1.25;
		color: var(--st2lla-body-color);
		font-size: var(--st2lla-body-font-size);
		font-weight: normal;
		border-width: var(--st2lla-border-width);
		border-style: var(--st2lla-border-style);
		border-color: var(--st2lla-gray-100);
		border-radius: .5rem;
		background-color: var(--st2lla-gray-100);
		background-clip: padding-box;
		box-shadow: var(--main-box-shadow-inset);
		transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

		&.none-placeholder::placeholder { color: transparent; }
		&.shadow-inset { box-shadow: var(--st2lla-box-shadow-inset); }
		&.is-valid {
			padding-right: calc(1.5em + 1rem);
			border-color: var(--st2lla-valid-border);
			background-image: url("../image/input-valid.svg");
			background-repeat: no-repeat;
			background-position: right calc(0.375em + 0.25rem) center;
			background-size: calc(0.75em + 0.5rem) calc(0.75em + 0.5rem);

			&:focus {
				border-color: var(--st2lla-valid-border);
				box-shadow: var(--st2lla-box-shadow-inset), 0 0 0 0.25rem rgba(var(--st2lla-success-rgb), .25);
			}
		}
		&.is-invalid {
			padding-right: calc(1.5em + 1rem);
			border-color: var(--st2lla-invalid-border);
			background-image: url("../image/input-invalid.svg");
			background-repeat: no-repeat;
			background-position: right calc(0.375em + 0.25rem) center;
			background-size: calc(0.75em + 0.5rem) calc(0.75em + 0.5rem);

			&:focus {
				border-color: var(--st2lla-invalid-border);
				box-shadow: var(--st2lla-box-shadow-inset), 0 0 0 0.25rem rgba(var(--st2lla-danger-rgb), .25);
			}
		}
		&:focus {
			color: var(--st2lla-body-color);
			background-color: var(--st2lla-gray-100);
			border-color: var(--st2lla-primary-border);
			outline: 0;
			box-shadow: var(--st2lla-box-shadow-inset), 0 0 0 0.25rem rgba(var(--st2lla-primary-rgb), .24)
		}
		&:focus, &:not(:placeholder-shown) {
			padding-top: 1.625rem;
			padding-bottom: 0.625rem;

			& ~ label {
				font-weight: normal;
				color: rgba(var(--st2lla-body-color-rgb), .64);
				transform: scale(0.84) translateY(-0.56rem) translateX(0.16rem);
			}
		}
	}
	label {
		position: absolute;
		top: 0;
		left: 0;
		padding: 1rem 1rem;
		height: 100%;
		color: var(--st2lla-gray);
		font-weight: bold;
		text-align: start;
		white-space: nowrap;
		text-overflow: ellipsis;
		z-index: 2;
		overflow: hidden;
		border: 1px solid transparent;
		pointer-events: none;
		box-sizing: border-box;
		transform-origin: 0 0;
		transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
	}
}