.notification {
	--st2lla-noti-bg: #0000;
	--st2lla-noti-padding-x: 1rem;
	--st2lla-noti-padding-y: 1rem;
	--st2lla-noti-margin-bottom: 1rem;
	--st2lla-noti-color: inherit;
	--st2lla-noti-border-color: #0000;
	--st2lla-noti-border: var(--st2lla-border-width) var(--st2lla-border-style) var(--st2lla-noti-border-color);
	--st2lla-noti-border-radius: var(--st2lla-border-radius);
	--st2lla-noti-link-color: inherit;

	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: var(--st2lla-noti-padding-y) var(--st2lla-noti-padding-x);
	margin-bottom: var(--st2lla-noti-margin-bottom);
	color: var(--st2lla-noti-color);
	border: var(--st2lla-noti-border);
	border-radius: var(--st2lla-noti-border-radius);
	background-color: var(--st2lla-noti-bg);

	.noti-icon {
		font-size: 2rem;
		margin-right: 1rem;

		svg { width: 1em; height: 1em; }
	}
	.noti-text {
		display: flex;
		flex-wrap: wrap;

		> div {
			flex: 0 0 auto;
			width: 100%;
		}
	}

	&.dismissible { padding-right: 3rem; }
	.btn-close {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 2;
		padding: 1rem 1rem;
		color: #000;
		// color: var(--bs-btn-close-color);
		box-sizing: content-box;
		width: 1em;
		height: 1em;
		background: transparent url(../image/close-button.svg) center / 0.8em auto no-repeat;
		border: 0;
		border-radius: 1rem;
		// opacity: var(--bs-btn-close-opacity);
		opacity: 0.5
	}
}

/** Color Section */
.notification-light-primary {
	--st2lla-noti-color: var(--st2lla-primary-text);
	--st2lla-noti-bg: var(--st2lla-primary-bg);
	--st2lla-noti-border-color: var(--st2lla-primary-border);
	--st2lla-noti-link-color: var(--st2lla-primary-text);
}