@use "global";
@use "login";
@use "notification";

.wrap { position: fixed; width: 100vw; height: 100vh; }
.box {
	position: absolute;
	top: 50%;
	width: 100%;
	min-width: 280px;
	transform: translateY(-50%);

	.container {
		position: relative;
		display: block;
		max-width: 360px;
		margin: 0 auto;
	}
}

.icon {
	position: fixed;
	display: inline-flex;
	bottom: 20px;
	right: 20px;
	width: 40px;
	height: 40px;
	align-items: center;
	justify-content: center;
	z-index: 5;
	cursor: pointer;
	border-radius: 100%;
	background-color: #{global.$icon-darkmode-hex};
	backdrop-filter: blur(4px);
	transition: .25s ease;

	svg { width: 100%; height: 26px; }
	&.on, &:hover { background-color: var(--capt-ci); }
}


























// .login-input, .relative {
// 	position: relative;

// 	input::placeholder { color: transparent; }
// 	.input-control.is-valid {
// 		border-color: var(--main-border-valid-color);
// 		padding-right: calc(1.5em + 1rem);
// 		background-image: url("../image/input-valid.svg");
// 		background-repeat: no-repeat;
// 		background-position: right calc(0.375em + 0.25rem) center;
// 		background-size: calc(0.75em + 0.5rem) calc(0.75em + 0.5rem);

// 		&:focus {
// 			border-color: var(--main-border-valid-color);
// 			box-shadow: var(--main-box-shadow-inset), 0 0 0 0.25rem var(--main-border-valid-color-24);
// 		}
// 	}
// 	.input-control.is-invalid {
// 		border-color: var(--main-border-invalid-color);
// 		padding-right: calc(1.5em + 1rem);
// 		background-image: url("../image/input-invalid.svg");
// 		background-repeat: no-repeat;
// 		background-position: right calc(0.375em + 0.25rem) center;
// 		background-size: calc(0.75em + 0.5rem) calc(0.75em + 0.5rem);
// 		&:focus {
// 			border-color: var(--main-border-invalid-color);
// 			box-shadow: var(--main-box-shadow-inset), 0 0 0 0.25rem var(--main-border-invalid-color-24);
// 		}
// 	}
// 	> .input-control {
// 		padding: 1rem 1rem;
		
// 		height: calc(3.5rem + calc(var(--main-border-width) * 2));
		
// 		min-height: calc(3.5rem + calc(var(--main-border-width) * 2));
// 		line-height: 1.25;
// 		&:focus, &:not(:placeholder-shown) {
// 			padding-top: 1.625rem;
// 			padding-bottom: 0.625rem;

// 			&~label {
// 				font-weight: normal;
// 				color: var(--main-color-64);
// 				transform: scale(0.85) translateY(-0.56rem) translateX(0.16rem);
// 			}
// 		}
// 	}
// 	label {
// 		font-weight: bold;
// 		color: #6c757d;
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 		z-index: 2;
// 		height: 100%;
// 		padding: 1rem 1rem;
// 		overflow: hidden;
// 		text-align: start;
// 		text-overflow: ellipsis;
// 		white-space: nowrap;
// 		pointer-events: none;
// 		border: 1px solid transparent;
// 		box-sizing: border-box;
// 		transform-origin: 0 0;
// 		transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
// 	}

// }

// .input-control {
// 	display: block;
// 	width: 100%;
// 	padding: 0.5rem 1rem;
// 	font-size: 1rem;
// 	// font-weight: 600;
// 	line-height: 1.5;
// 	color: var(--main-color);
// 	appearance: none;
// 	background-color: #f8f9fa;
// 	background-clip: padding-box;
// 	border: 1px solid #f8f9fa;
// 	border-radius: 1rem;
// 	box-shadow: var(--main-box-shadow-inset);
// 	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

// 	input::placeholder { color: transparent; }
// 	&:focus {
		
// 		color: var(--main-color);
// 		background-color: #f8f9fa;
// 		border-color: rgb(182, 174, 233);
// 		outline: 0;
// 		box-shadow: var(--main-box-shadow-inset), 0 0 0 0.25rem rgba(108, 93, 211, 0.24);
// 	}
// }

// .remember {
// 	position: relative;
// 	display: flex;
// 	align-items: center;
// 	gap: 4px;
// 	justify-content: flex-start;

// 	> * { font-size: 14px; cursor: pointer }
// 	label { color: #777777; font-weight: normal; transition: .25s ease; }
// 	#remember {
// 		display: inline-flex;
// 		align-items: center;
// 		justify-content: center;
// 		width: 20px;
// 		height: 20px;
// 		color: #999999;
// 		font-size: 12px;
// 		background-color: #ffffff;
// 		border: 1px solid #dddddd;
// 		box-sizing: border-box;
// 		transition: .25s ease;
// 	}
// 	&.on {
// 		label { color: #2189ff; }
// 		#remember {
// 			color: #ffffff;
// 			background-color: #2189ff;
// 			border: #2189ff;
// 		}
// 	}
// }
// .capslock {
// 	position: relative;
// 	display: none;
// 	width: 100%;
// 	font-size: 12px;
// 	text-align: left;
// 	color: #ff0000;
// }


// .fade {
// 	transition: opacity 0.15s linear;
// }
// .fade:not(.show) {
// 	opacity: 0;
// }

// [theme=dark] .input-control:not([class*=valid]) {
// 	border-color: #343a40;
// }
// [theme=dark] .shadow-3d{
// 	&::before { filter: opacity(0.8) brightness(1.2) contrast(0.8); }
// 	&:after { filter: opacity(0.5) brightness(1) contrast(0.8); }
// }

// [theme=dark] .input-control {
// 	background-color: #212529;
// 	color: #e7eef8;
// }