textarea {
	width: 100%;
	height: 100%;
	padding: 8px;
	line-height: inherit;
	font-family: inherit;
	font-size: inherit;
	resize: none;
	border: none;
	outline: none;
	appearance: none;
	user-select: auto;
	box-sizing: border-box;
}