/** ####### breakpoint - start ####### */
$fhd: 1600px;
$hd: 1440px;
$pc: 1200px;
$note: 1024px;
$wide: 968px;
$tab: 850px;
$tablet: 768px;
$surface: 576px;
$mobile: 480px;
$minimum: 320px;
/** ####### breakpoint - end ####### */

/** ####### init - start ####### */
$init-font-size: 1rem;
$init-font-weight: normal;
$init-line-height: 1.5;

$init-border-width: 1px;
$init-border-style: solid;
$init-border-color-light: #dee2e6;
$init-border-color-dark: #495057;
$init-border-color-translucent-light: rgba(0, 0, 0, .175);
$init-border-color-translucent-dark: #ffffff26;

$init-border-radius: 1rem;
$init-border-radius-sm: 0.875rem;
$init-border-radius-lg: 1.25rem;
$init-border-radius-xl: 1rem;
$init-border-radius-xxl: 2rem;
$init-border-radius-2xl: 2rem;

$init-box-shadow: 0 1.6rem 3rem #0000001a;
$init-box-shadow-sm: 0 0.8rem 3rem rgba(0, 0, 0, .075);
$init-box-shadow-lg: 0 1.6rem 3rem rgba(0, 0, 0, .175);
$init-box-shadow-inset: inset 0 1px 3px rgba(0, 0, 0, .1);

$link-decoration: underline;
$link-hover-light-hex: #564aa9;
$link-hover-light-rgb: 86, 74, 169;
$link-hover-dark-hex: #b8b1ea;
$link-hover-dark-rgb: 184, 177, 234;

$init-gradient: linear-gradient(180deg, #ffffff26, #fff0);
$init-rainbow-gradient: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
/** ####### init - start ####### */

/** ####### hex color & rgb color - start ####### */
$ci-hex: #cb2938;
$ci-rgb: 203, 41, 56;
$light-hex: #fdfdfe;
$light-rgb: 253, 253, 254;
$white-hex: #ffffff;
$white-rgb: 255, 255, 255;
$dark-hex: #1e1f21;
$dark-rgb: 30, 31, 33;
$black-hex: #000000;
$black-rgb: 0, 0, 0;
$blue-hex: #0d6efd;
$blue-rgb: 13, 110, 253;
$sky-blue-hex: #2189ff;
$sky-blue-rgb: 33, 137, 255;
$indigo-hex: #6610f2;
$indigo-rgb: 102, 16, 242;
$purple-hex: #6f42c1;
$purple-rgb: 111, 66, 193;
$pink-hex: #d63384;
$pink-rgb: 214, 51, 132;
$red-hex: #dc3545;
$red-rgb: 220, 53, 69;
$orange-hex: #fd7e14;
$orange-rgb: 253, 126, 20;
$yellow-hex: #ffc107;
$yellow-rgb: 255, 193, 7;
$green-hex: #198754;
$green-rgb: 25, 135, 84;
$teal-hex: #20c997;
$teal-rgb: 32, 201, 151;
$cyan-hex: #0dcaf0;
$cyan-rgb: 13, 202, 240;
$primary-hex: #6c5dd3;
$primary-rgb: 108, 93, 211;
$secondary-hex: #ffa2c0;
$secondary-rgb: 255, 162, 192;
$success-hex: #46bcaa;
$success-rgb: 70, 188, 170;
$info-hex: #4d69fa;
$info-rgb: 77, 105, 250;
$warning-hex: #ffcf52;
$warning-rgb: 255, 207, 82;
$danger-hex: #f35421;
$danger-rgb: 243, 84, 33;
$brand-hex: #ffcd02;
$brand-rgb: 255, 205, 2;
$brand-two-hex: #323232;
$brand-two-rgb: 50, 50, 50;
$storybook-hex: #ff4785;
$storybook-rgb: 255, 71, 133;
$gray-hex: #6c757d;
$gray-rgb: 108, 117, 125;
$gray-100-hex: #f8f9fa;
$gray-100-rgb: 248, 249, 250;
$gray-200-hex: #e9ecef;
$gray-200-rgb: 233, 236, 239;
$gray-300-hex: #dee2e6;
$gray-300-rgb: 222, 226, 230;
$gray-400-hex: #ced4da;
$gray-400-rgb: 206, 212, 218;
$gray-500-hex: #adb5bd;
$gray-500-rgb: 173, 181, 189;
$gray-600-hex: #6c757d;
$gray-600-rgb: 108, 117, 125;
$gray-700-hex: #495057;
$gray-700-rgb: 73, 80, 87;
$gray-800-hex: #343a40;
$gray-800-rgb: 52, 58, 64;
$gray-900-hex: #212529;
$gray-900-rgb: 33, 37, 41;
$gray-dark-hex: #343a40;
$gray-dark-rgb: 52, 58, 64;



$primary-text-light-hex: #2b2554;
$primary-text-light-rgb: 43, 37, 84;
$primary-text-dark-hex: #a79ee5;
$primary-text-dark-rgb: 167, 158, 229;
$secondary-text-light-hex: #323232bf;
$secondary-text-light-rgb: 50, 50, 50;
$secondary-text-dark-hex: #dee2e6bf;
$secondary-text-dark-rgb: 222, 226, 230;
$success-text-light-hex: #1c4b44;
$success-text-light-rgb: 28, 75, 68;
$success-text-dark-hex: #90d7cc;
$success-text-dark-rgb: 144, 215, 204;
$info-text-light-hex: #1f2a64;
$info-text-light-rgb: 31, 42, 100;
$info-text-dark-hex: #94a5fc;
$info-text-dark-rgb: 148, 165, 252;
$warning-text-light-hex: #665321;
$warning-text-light-rgb: 102, 83, 33;
$warning-text-dark-hex: #ffe297;
$warning-text-dark-rgb: 255, 226, 151;
$danger-text-light-hex: #61220d;
$danger-text-light-rgb: 97, 34, 13;
$danger-text-dark-hex: #f8987a;
$danger-text-dark-rgb: 248, 152, 122;
$light-text-light-hex: #495057;
$light-text-light-rgb: 73, 80, 87;
$light-text-dark-hex: #f8f9fa;
$light-text-dark-rgb: 248, 249, 250;
$dark-text-light-hex: #495057;
$dark-text-light-rgb: 73, 80, 87;
$dark-text-dark-hex: #dee2e6;
$dark-text-dark-rgb: 222, 226, 230;
$valid-text-light-hex: #46bcaa;
$valid-text-light-rgb: 70, 188, 170;
$valid-text-dark-hex: #75b798;
$valid-text-dark-rgb: 117, 183, 152;
$invalid-text-light-hex: #f35421;
$invalid-text-light-rgb: 243, 84, 33;
$invalid-text-dark-hex: #ea868f;
$invalid-text-dark-rgb: 234, 134, 143;
$secondary-text-sub-light-hex: #66414d;
$secondary-text-sub-light-rgb: 102, 65, 77;
$secondary-text-sub-dark-hex: #ffc7d9;
$secondary-text-sub-dark-rgb: 255, 199, 217;
$tertiary-text-light-hex: #32323280;
$tertiary-text-light-rgb: 50, 50, 50;
$tertiary-text-dark-hex: #dee2e680;
$tertiary-text-dark-rgb: 222, 226, 230;
$link-text-light-hex: #6c5dd3;
$link-text-light-rgb: 108, 93, 211;
$link-text-dark-hex: #a79ee5;
$link-text-dark-rgb: 167, 158, 229;
$code-text-light-hex: #d63384;
$code-text-light-rgb: 214, 51, 132;
$code-text-dark-hex: #e685b5;
$code-text-dark-rgb: 230, 133, 181;
$highlight-text-light-hex: #323232;
$highlight-text-light-rgb: 50, 50, 50;
$highlight-text-dark-hex: #dee2e6;
$highlight-text-dark-rgb: 222, 226, 230;

$primary-bg-light-hex: #e2dff6;
$primary-bg-light-rgb: 226, 223, 246;
$primary-bg-dark-hex: #16132a;
$primary-bg-dark-rgb: 22, 19, 42;
$secondary-bg-light-hex: #e9ecef;
$secondary-bg-light-rgb: 233, 236, 239;
$secondary-bg-dark-hex: #343a40;
$secondary-bg-dark-rgb: 52, 58, 64;
$success-bg-light-hex: #daf2ee;
$success-bg-light-rgb: 218, 242, 238;
$success-bg-dark-hex: #0e2622;
$success-bg-dark-rgb: 14, 38, 34;
$info-bg-light-hex: #dbe1fe;
$info-bg-light-rgb: 219, 225, 254;
$info-bg-dark-hex: #0f1532;
$info-bg-dark-rgb: 15, 21, 50;
$warning-bg-light-hex: #fff5dc;
$warning-bg-light-rgb: 255, 245, 220;
$warning-bg-dark-hex: #332910;
$warning-bg-dark-rgb: 51, 41, 16;
$danger-bg-light-hex: #fdddd3;
$danger-bg-light-rgb: 253, 221, 211;
$danger-bg-dark-hex: #311107;
$danger-bg-dark-rgb: 49, 17, 7;
$light-bg-light-hex: #fcfcfd;
$light-bg-light-rgb: 252, 252, 253;
$light-bg-dark-hex: #343a40;
$light-bg-dark-rgb: 52, 58, 64;
$dark-bg-light-hex: #ced4da;
$dark-bg-light-rgb: 206, 212, 218;
$dark-bg-dark-hex: #1a1d20;
$dark-bg-dark-rgb: 26, 29, 32;
$secondary-bg-sub-light-hex: #ffecf2;
$secondary-bg-sub-light-rgb: 255, 236, 242;
$secondary-bg-sub-dark-hex: #332026;
$secondary-bg-sub-dark-rgb: 51, 32, 38;
$tertiary-bg-light-hex: #f8f9fa;
$tertiary-bg-light-rgb: 248, 249, 250;
$tertiary-bg-dark-hex: #2b3035;
$tertiary-bg-dark-rgb: 43, 48, 53;
$highlight-bg-light-hex: #fff3cd;
$highlight-bg-light-rgb: 255, 243, 205;
$highlight-bg-dark-hex: #664d03;
$highlight-bg-dark-rgb: 102, 77, 3;

$primary-border-light-hex: #c4beed;
$primary-border-light-rgb: 196, 190, 237;
$primary-border-dark-hex: #41387f;
$primary-border-dark-rgb: 65, 56, 127;
$secondary-border-light-hex: #ffdae6;
$secondary-border-light-rgb: 255, 218, 230;
$secondary-border-dark-hex: #996173;
$secondary-border-dark-rgb: 153, 97, 115;
$success-border-light-hex: #b5e4dd;
$success-border-light-rgb: 181, 228, 221;
$success-border-dark-hex: #2a7166;
$success-border-dark-rgb: 42, 113, 102;
$info-border-light-hex: #b8c3fd;
$info-border-light-rgb: 184, 195, 253;
$info-border-dark-hex: #2e3f96;
$info-border-dark-rgb: 46, 63, 150;
$warning-border-light-hex: #ffecba;
$warning-border-light-rgb: 255, 236, 186;
$warning-border-dark-hex: #997c31;
$warning-border-dark-rgb: 153, 124, 49;
$danger-border-light-hex: #fabba6;
$danger-border-light-rgb: 250, 187, 166;
$danger-border-dark-hex: #923214;
$danger-border-dark-rgb: 146, 50, 20;
$light-border-light-hex: #e9ecef;
$light-border-light-rgb: 233, 236, 239;
$light-border-dark-hex: #495057;
$light-border-dark-rgb: 73, 80, 87;
$dark-border-light-hex: #adb5bd;
$dark-border-light-rgb: 173, 181, 189;
$dark-border-dark-hex: #343a40;
$dark-border-dark-rgb: 52, 58, 64;
$valid-border-light-hex: #46bcaa;
$valid-border-light-rgb: 70, 188, 170;
$valid-border-dark-hex: #75b798;
$valid-border-dark-rgb: 117, 183, 152;
$invalid-border-light-hex: #f35421;
$invalid-border-light-rgb: 243, 84, 33;
$invalid-border-dark-hex: #ea868f;
$invalid-border-dark-rgb: 234, 134, 143;
/** ####### hex color & rgb color - end ####### */